/* small mobile :320px. */
@media (max-width: 420px) {
.container{
	width: 95%;
}
 header .bottom-header .menu {
    float: none;
    display: none;
}
.burger-menu{
	float: right;
	font-size: 30px;
	cursor: pointer;
	display: block;
}
header .bottom-header .logo {
    width: 31%;
}
.hero-section .hero-area {
    width: 90%;
}
.title p {
    padding: 0px 0%;
}
.work-section .box-wrapper .work-box {
    width: 100%;
    float: none;
    margin-top: 60px;
}
.process-section .title {
    text-align: left;
    width: 100%;
    float: none;
}
.process-section .process-video {
    width: 100%;
    float: none;
    text-align: center;
}
.process-section .process-video iframe {
    float: none;
    margin: 0 auto;
}

.features-section .box-wrapper .f-box {
    width: 100%;
    margin: 15px 0px;
    float: none;
}
.contact-section .common-box.links {
    width: 100%;
    float: none;
}
.contact-section .common-box{
	margin-top: 50px;
}
.contact-section .common-box.useful-links {
    width: 100%;
    float: none;
}
.contact-section .common-box.sub-form {
    width: 100%;
    float: none;
}
.contact-section .sub-form [type="email"] {
    width: 45%;
}

.contact-section .sub-form [type="submit"] {
    width: 45%;
}

}
 

